
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px; 
}

.arrow{
   margin: 0 20px;
   font-size: 40px;
}

.carusel{    
    width: 150px;
    height: 50px;
    overflow: hidden;
}

.carusel__blocks{
        

    display: flex;
    flex-wrap: nowrap;
}

.carusel__item{ 
    font-size: 30px;
    flex-shrink: 0;

    width: 50px;
    height: 50px;
    background-color: goldenrod;
    border: 1px solid black;
    text-align: center;    
}


.btn{
    display: block;
    width: 100%;
    padding: 20px 50px;
    margin-top: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-push{
   border-radius: 10%;
    height: 30px;
    display: block;
    background-color: aqua;
    margin-top: 20px;
}